 body  {
	text-align: center;
	background-size: cover;
	background-position: center;
	color: black;
	font-family: helvetica;
}
div {
	font-size: 18px;
	max-width: 500px;
      	padding: 20px;
	 margin: 0 auto;
}
header {
	text-align: center;
	font-size: 30px;
	color: black;
	font-family: helvetica;
}
img {
	text-align: center;
}
